
*{
    font-family: 'Russo One', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;  
    font-size: 50px;  
}

.choices{
    cursor: pointer;

}


/*p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.option{
    display: flex;
    text-align: center;
    padding: 20px;
    font-size: 200px; 
}

.Barra2{
    display: flex;
    justify-content: center;
    align-items: center;
}


.botones{
    max-width: 250px;
    margin: 0 auto;
}

#btn{
    display: flex;
    width: 100%;
}

#btn > button > img{
    width: 100%;
}

.historial{
    text-align: center;
}


img{
    width: 25px;
}

button{
    justify-content: center;
    margin-right: 30px;
    margin-left: 10px;
    margin-top: 50px;
    border-radius: 250px;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 50px;
    background-color: rgb(141, 176, 164);
}

button:hover{
    background-color: rgb(195, 245, 231);
}
*/

html, body {
    width: 100%;
    height:100%;
  }
  
  body {
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }